<div *ngIf="todo">

    <div><span>id: </span>{{todo.id}}</div>
    <div>
        <label for="todo-title">Título</label>
        <input type="text" id="todo-title" [(ngModel)]="todo.title" placeholder="title">
    </div>
    <div>
        <label for="todo-description">Descripción: </label>
        <input type="text" id="todo-description" [(ngModel)]="todo.description" placeholder="description">
    </div>
    <div>
        <label for="todo-completed">Completado</label>
        <input type="checkbox" id="todo-completed" [(ngModel)]="todo.completed">
    </div>


</div>
