<section class="container">
    <div class="row todo-space">
        <div class="todo-card card" *ngFor="let todo of todos">
            <div class="card-body col-sm-12 col-md-8 col-lg-6">
                <h5 class="card-title">{{todo.title}}</h5>
                <h6 *ngIf="todo.completed == true" class="card-subtitle mb-2 text-muted"><i class='bx bxs-check-circle todo-icon'></i></h6>
                <h6 *ngIf="todo.completed == false" class="card-subtitle mb-2 text-muted"><i class='bx bxs-circle-three-quarter todo-icon'></i></h6>
                <p class="card-text">{{todo.description}}</p>
                <div class="d-flex flex-row">
                    <button type="button" routerLink="/details/{{todo.id}}">
                        <span>Editar</span>
                    </button>
                    <button type="button" class="ms-2" (click)="delete(todo)">
                        <span>Eliminar</span>
                    </button>
                </div>
                    
            </div>
        </div>
    </div>
</section>


