<div class="app">
    <header>
      <nav class="navbar navbar-dark bg-dark navbar-home">
        <a class="navbar-brand ms-2" href="#">
          ToDo List <i class='bx bx-task'></i> 
        </a>
      </nav>
    </header>
    <nav class="d-flex justify-content-center mt-4">
      <div class="d-flex justify-content-between mb-3">
        <button routerLink="/dashboard">
          <span>Tareas en progreso</span>
        </button>
        <button routerLink="/todos" class="mx-2">
          <span>Lista de tareas</span>
        </button>
      </div>
    </nav>
    <router-outlet></router-outlet>

    <footer class="footer-home mt-4">
      <div class="card text-center">
        <div class="card-header">
          &#169; Joaquin Javier Pastore Barrios
        </div>
      </div>
    </footer>
</div>